.keskele {
  text-align: center;
}

ion-thumbnail {
   margin-inline: 0px 10px; 
  }

ion-card ion-item::part(native) {
  padding-inline-start: 0px;
}

@media only screen and (max-width: 375px) {
 
}
.item ion-thumbnail {
  min-width: 8rem;    
  min-height: 8rem;
 
}

ion-label {
  font-size: 20px !important;
}